.Container{
    display: flex;
    justify-content: space-between;

    margin-top: 4rem;

    .created{
        color: var(--blue)
    }

    .finished{
        color: var(--purple)
    }

    span{
        margin-left: 0.5rem;

        padding: 0.15rem 0.5rem;
        background-color: var(--gray-400);

        color: white;
        font-size: 0.75rem;

        border-radius: 50%;
    }

    
}