.Container{
    margin-top: 1.56rem;
}

.NoTasksContainer{
    margin-top: 1.56rem;
    padding: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    label{
        margin-top: 1rem;
        font-weight: 600;
    }

    color: var(--gray-300);


    border-radius: 0.5rem;
    border-top: 1px solid var(--gray-400);
}